body{
    background-image: url('fondo.jpg');
    width: 100%;
    height: 50%;
    text-align: center;
    font-family: "pacifico";
}

header{
    background-color: #393E46;
    box-shadow: 8px 5px 25px #3A4750;
}

#titulo{
    margin: 0px;
    padding: 2%;
    color:#FCD47D;
}

a{
    margin: 2% 5%;
}

.tituloo{
    color: blue;
}
